
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/bin/Debug/net5.0/CoverletSourceRootsMapping
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/obj/Debug/net5.0/inmar.shoppingcar.api.tests.AssemblyInfo.cs
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/obj/Debug/net5.0/inmar.shoppingcar.api.tests.AssemblyInfoInputs.cache
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/obj/Debug/net5.0/inmar.shoppingcar.api.tests.assets.cache
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/obj/Debug/net5.0/inmar.shoppingcar.api.tests.csproj.AssemblyReference.cache
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/obj/Debug/net5.0/inmar.shoppingcar.api.tests.GeneratedMSBuildEditorConfig.editorconfig
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/obj/inmar.shoppingcar.api.tests.csproj.nuget.dgspec.json
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/obj/inmar.shoppingcar.api.tests.csproj.nuget.g.props
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/obj/inmar.shoppingcar.api.tests.csproj.nuget.g.targets
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/obj/project.assets.json
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/obj/project.nuget.cache
inmar.shoppingcart.api/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
inmar.shoppingcart.api/obj/Debug/net5.0/inmar.shoppingcart.api.AssemblyInfo.cs
inmar.shoppingcart.api/obj/Debug/net5.0/inmar.shoppingcart.api.AssemblyInfoInputs.cache
inmar.shoppingcart.api/obj/Debug/net5.0/inmar.shoppingcart.api.assets.cache
inmar.shoppingcart.api/obj/Debug/net5.0/inmar.shoppingcart.api.csproj.AssemblyReference.cache
inmar.shoppingcart.api/obj/Debug/net5.0/inmar.shoppingcart.api.GeneratedMSBuildEditorConfig.editorconfig
inmar.shoppingcart.api/obj/inmar.shoppingcart.api.csproj.nuget.dgspec.json
inmar.shoppingcart.api/obj/inmar.shoppingcart.api.csproj.nuget.g.props
inmar.shoppingcart.api/obj/inmar.shoppingcart.api.csproj.nuget.g.targets
inmar.shoppingcart.api/obj/project.assets.json
inmar.shoppingcart.api/obj/project.nuget.cache
.vs/inmar.shoppingcart/config/applicationhost.config
.vs/inmar.shoppingcart/DesignTimeBuild/.dtbcache.v2
.vs/inmar.shoppingcart/v16/.suo
inmar.shoppingcart.api/bin/Debug/net5.0/appsettings.Development.json
inmar.shoppingcart.api/bin/Debug/net5.0/appsettings.json
inmar.shoppingcart.api/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/dotnet-aspnet-codegenerator-design.dll
inmar.shoppingcart.api/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Humanizer.dll
inmar.shoppingcart.api/bin/Debug/net5.0/inmar.shoppingcart.api.deps.json
inmar.shoppingcart.api/bin/Debug/net5.0/inmar.shoppingcart.api.dll
inmar.shoppingcart.api/bin/Debug/net5.0/inmar.shoppingcart.api.exe
inmar.shoppingcart.api/bin/Debug/net5.0/inmar.shoppingcart.api.pdb
inmar.shoppingcart.api/bin/Debug/net5.0/inmar.shoppingcart.api.runtimeconfig.dev.json
inmar.shoppingcart.api/bin/Debug/net5.0/inmar.shoppingcart.api.runtimeconfig.json
inmar.shoppingcart.api/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.AspNetCore.Razor.Language.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.Bcl.AsyncInterfaces.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.CodeAnalysis.CSharp.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.CodeAnalysis.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.CodeAnalysis.Razor.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.CodeAnalysis.Workspaces.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.Identity.Client.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.OpenApi.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Newtonsoft.Json.dll
inmar.shoppingcart.api/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/ref/inmar.shoppingcart.api.dll
inmar.shoppingcart.api/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
inmar.shoppingcart.api/bin/Debug/net5.0/runtimes/win-arm/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
inmar.shoppingcart.api/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
inmar.shoppingcart.api/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
inmar.shoppingcart.api/bin/Debug/net5.0/runtimes/win-arm64/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
inmar.shoppingcart.api/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
inmar.shoppingcart.api/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
inmar.shoppingcart.api/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
inmar.shoppingcart.api/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
inmar.shoppingcart.api/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
inmar.shoppingcart.api/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
inmar.shoppingcart.api/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
inmar.shoppingcart.api/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
inmar.shoppingcart.api/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
inmar.shoppingcart.api/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
inmar.shoppingcart.api/bin/Debug/net5.0/System.Composition.AttributedModel.dll
inmar.shoppingcart.api/bin/Debug/net5.0/System.Composition.Convention.dll
inmar.shoppingcart.api/bin/Debug/net5.0/System.Composition.Hosting.dll
inmar.shoppingcart.api/bin/Debug/net5.0/System.Composition.Runtime.dll
inmar.shoppingcart.api/bin/Debug/net5.0/System.Composition.TypedParts.dll
inmar.shoppingcart.api/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
inmar.shoppingcart.api/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
inmar.shoppingcart.api/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
inmar.shoppingcart.api/bin/Debug/net5.0/System.Runtime.Caching.dll
inmar.shoppingcart.api/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
inmar.shoppingcart.api/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
inmar.shoppingcart.api/bin/Debug/net5.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
inmar.shoppingcart.api/obj/Debug/net5.0/apphost.exe
inmar.shoppingcart.api/obj/Debug/net5.0/inmar.shoppingcart.api.csproj.CopyComplete
inmar.shoppingcart.api/obj/Debug/net5.0/inmar.shoppingcart.api.csproj.CoreCompileInputs.cache
inmar.shoppingcart.api/obj/Debug/net5.0/inmar.shoppingcart.api.csproj.FileListAbsolute.txt
inmar.shoppingcart.api/obj/Debug/net5.0/inmar.shoppingcart.api.dll
inmar.shoppingcart.api/obj/Debug/net5.0/inmar.shoppingcart.api.genruntimeconfig.cache
inmar.shoppingcart.api/obj/Debug/net5.0/inmar.shoppingcart.api.MvcApplicationPartsAssemblyInfo.cache
inmar.shoppingcart.api/obj/Debug/net5.0/inmar.shoppingcart.api.MvcApplicationPartsAssemblyInfo.cs
inmar.shoppingcart.api/obj/Debug/net5.0/inmar.shoppingcart.api.pdb
inmar.shoppingcart.api/obj/Debug/net5.0/inmar.shoppingcart.api.RazorTargetAssemblyInfo.cache
inmar.shoppingcart.api/obj/Debug/net5.0/ref/inmar.shoppingcart.api.dll
inmar.shoppingcart.api/obj/Debug/net5.0/staticwebassets/inmar.shoppingcart.api.StaticWebAssets.Manifest.cache
inmar.shoppingcart.api/obj/Debug/net5.0/staticwebassets/inmar.shoppingcart.api.StaticWebAssets.xml
