
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/bin/Debug/net5.0/CoverletSourceRootsMapping
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/obj/Debug/net5.0/inmar.shoppingcar.api.tests.AssemblyInfo.cs
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/obj/Debug/net5.0/inmar.shoppingcar.api.tests.AssemblyInfoInputs.cache
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/obj/Debug/net5.0/inmar.shoppingcar.api.tests.assets.cache
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/obj/Debug/net5.0/inmar.shoppingcar.api.tests.csproj.AssemblyReference.cache
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/obj/Debug/net5.0/inmar.shoppingcar.api.tests.GeneratedMSBuildEditorConfig.editorconfig
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/obj/inmar.shoppingcar.api.tests.csproj.nuget.dgspec.json
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/obj/inmar.shoppingcar.api.tests.csproj.nuget.g.props
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/obj/inmar.shoppingcar.api.tests.csproj.nuget.g.targets
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/obj/project.assets.json
inmar.shoppingcart.api.tests/inmar.shoppingcar.api.tests/obj/project.nuget.cache
inmar.shoppingcart.api/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
inmar.shoppingcart.api/obj/Debug/net5.0/inmar.shoppingcart.api.AssemblyInfo.cs
inmar.shoppingcart.api/obj/Debug/net5.0/inmar.shoppingcart.api.AssemblyInfoInputs.cache
inmar.shoppingcart.api/obj/Debug/net5.0/inmar.shoppingcart.api.assets.cache
inmar.shoppingcart.api/obj/Debug/net5.0/inmar.shoppingcart.api.csproj.AssemblyReference.cache
inmar.shoppingcart.api/obj/Debug/net5.0/inmar.shoppingcart.api.GeneratedMSBuildEditorConfig.editorconfig
inmar.shoppingcart.api/obj/inmar.shoppingcart.api.csproj.nuget.dgspec.json
inmar.shoppingcart.api/obj/inmar.shoppingcart.api.csproj.nuget.g.props
inmar.shoppingcart.api/obj/inmar.shoppingcart.api.csproj.nuget.g.targets
inmar.shoppingcart.api/obj/project.assets.json
inmar.shoppingcart.api/obj/project.nuget.cache
